{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
            {% endif %}
        </aside>
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <h2>{{ post.titre }}</h2>
        <p>{{ post.texte|linebreaksbr }}</p>
    </article>
    <div class="col-md-8 card mb-4 mt-3 ">
        <div class="card-body">
            <!-- comments -->
            <h2>{{ commentaires.count }} commentaires</h2>
            {% for comment in commentaires %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.nom }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.corps | linebreaks }}
                </div>
            {% endfor %}
        </div>
    </div>
        <div class="col-md-8 card mb-4 mt-3 ">
            <div class="card-body">
                {% if new_comment %}
                    <div class="alert alert-success" role="alert">
                        Votre commentaire est en attente d’une modération
                    </div>
                {% else %}
                    <h3>Laisser un commentaire</h3>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
{% endblock %}